@import "global.scss";
@import "variables.scss";
@import "typography.scss";

.ui-map-controls {
    bottom: -3.5em;
    position: absolute;  
    padding-bottom: 2em; 
    left: 2em;
    z-index: 100;
    text-shadow: 0 0 .5em black;
    transition: all .4s, transform .6s 2s;

    &__control {
        display: flex;
        gap: .75em;
        font-size: 22px;
    }

    &__inner {
        display: flex;
        gap: 3em;
    }

    &__list {
        gap: 2em;
        flex-direction: row;
        display: flex;
    }
    
    &:hover {
        bottom: 0;
    }
} 

.ui-player {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    top: 2em;
    right: 2em;
    text-align: right;
    z-index: 100;
    text-shadow: 0 0 .5em black;
    transition: transform .6s 3s;

    &__label {
        opacity: .7;
        font-size: 12px;
        letter-spacing: .125em;
        text-transform: uppercase;
        margin-bottom: .35em;
    } 

    &__value {
        font-size: 20px;
    }
} 

.title {
    font-size: 34px;
    font-weight: normal;
    line-height: 1.1;
    text-align: left;
    margin-bottom: 1em;
}
                  
#ui-loading {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    --offset: 0;
    --text-color: rgba(255,255,255,.6);
    display: flex;
    transition: color .25s .35s;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-transform: uppercase;
    pointer-events: none;

    &::after,
    &::before {
        content: "";
        position: absolute;
        transition: all 1.5s .5s;
        left:0;
        width: 100%;
        height: 50%;
        background-color: var(--dark-green);
    }

    &::before {
        top: var(--offset);
    }
    &::after {
        bottom: var(--offset);
    }
}