@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
    --animate-blink: blink .85s infinite;
    --animate-introin: introin .75s backwards;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .25;
    }
}

@keyframes introin {
    from {
        opacity: 0;
        margin-left: -1em;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}
